*{
    margin: 0;
    font-family: arial;
    border: border-box;
    background-color: black;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 200px;
    margin-left: 10px;
    border-radius: 25px 10px;

}
.logo{
   color: red;
   font-size: 40px;
   font-weight: 600;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-size: cover;
    height: 50px;
    width: 190px;
    border-radius: 25px 10px;
    margin-left: 8px;
  

   
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid red;
}
.menu-btn{
 display: flex;
 margin-left: 50px;
 
}
.btn1{
    
    margin-left: 0px;
    font-size:18px;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 180px;
        float: left;
        background-color:red;
        border: none;
        transition: 0.5s;
    }
    .btn1:hover{
        /* border: solid 2px; */
     border-radius: 10px 10px;
    animation-duration: 0.1ms;
    box-shadow:  0 0px 5px 0 white, 0 0px 2px 0 white;
    }
.nav-search{
    margin-left: 50px;
    margin-right: 10px;
    display: flex; 
    justify-content: space-evenly;
    height: 40px;
    width: 500px;
    border-radius: 5px 5px;
    
}
.search-input{
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 3px 3px;
    color: red;
    border: solid white;


}
.search-icon{

    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :black;
    border-radius: 3px 3px;
    /* color: red; */
    border: solid red;
}
.cart-logo{
    height: 35px;
    border: solid red;
    width: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.img1{
    
    height: 1100px;
    width: 100%;
}
.Eimg{
    position: absolute;
    height: 700px;
    width: 1510px;
 
}
/* .productimg{
    display: flex;
    position: absolute;
    height: 300px;
    width: 1400px;
    background: transparent;
    transform: translate(-5%,-5%);
    margin: 230px 0px 0px 43px;
} */
.maincontainer{
    display: flex;
    position: absolute;
    height: 300px;
    width: 1400px;
    background: transparent;
    transform: translate(-5%,-5%);
    margin: 280px 0px 0px 43px;
}


.container{

    background-color: none;
    display: flex;
    position: absolute;
    height: 300px;
    width: 500px ;
    background: transparent;
    transform: translate(-5%,-5%);
    /* margin-left: 300px; */
}
 #img1{
    display: block;
    margin-left: 300px;
    height: 300px;
    width: 500px;
   
 }
 .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 450px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: red;
    margin-left: 300px;

 }
 .container:hover .overlay {
    opacity: 1;
  }
 .text{
    background:transparent;
    color:black;
    font-size: 40px;
    position: absolute;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
 }
 .container2{
    background-color: none;
    display: flex;
    position: absolute;
    height: 300px;
    width: 500px ;
    background: transparent;
    transform: translate(-5%,-5%);

 }
 #img2{
    display: block;
    margin-left: 900px;
    height: 300px;
    width: 500px;
 }
 .overlay2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 455px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: red;
    margin-left: 900px;

 }
 .container2:hover .overlay2 {
    opacity: 1;
  }
 .text2{
    background: transparent;
    font-weight: 800;
    color: black;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
 }